.board{
    display: flex;
    flex-wrap: wrap;
}

.btDisabled{
    display: none;
}

.card-body{
    display: flex;
    flex-direction: column;
    min-width: fit-content;

    img{
        margin: 5px;
        width: 100px;       
    }
}